@import '../../styles/variables.scss';

.introduction {
  p {
    margin-top: 3rem;
    border-left: 2px solid $grey2;
    padding-left: 1rem;
    font-weight: 500;
  }

  &__version {
    font-style: italic;
  }
}
